extends layout

block content
    div(class=" p-10 sm:p-20")
        a(href="/catalog/categories/new" class="px-4 py-2 bg-sky-600 rounded-sm") Create new category 
        h2(class="text-4xl mt-5 p-2 text-center") Categories Page
        section
            if error
                h2(class="text-2xl mt-5")= error
            else
                each game in games
                    section(class="py-5")
                        h2(class="text-2xl")= game.name
                        p #{game.description.slice(0, 80)}...
                        a(href=game.detailUrl class="text-sky-400") See more detail